<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css">
 
    <title>ToDo</title>
</head>
<body>
       <div id="todo-table">
           <h1>Task Manager</h1>
            <form>
                <input type="text" name="item" placeholder="Add new item" required>
                <button type= "submit"> Add Item</button>      
            </form> 

            <ui>
                <% for(var i=0;i<todos.length;i++){ %>
                   <li><%= todos[i].item %> </li>
                <% } %>
            </ui>
        </div>
</body>

</html>
<script>
$(document).ready(function(){
    
    $('form').on('submit',function(){
       
        var item = $('form input')
        var todo = {item : item.val()}
       
        $.ajax({
            type:'POST',
            url:'/todo',
            data:todo,
            success:function(data){
                location.reload()
            },
            error: function (err) {
            console.log('err')
        }
        })
        return false
    })

    $('li').on('click',function(){
      
	var item = $(this).text().replace(/ /g,"-")
     
	$.ajax({
	  type: 'DELETE' ,
	  url: '/todo/' + item,
      
	  success: function(data){
		location.reload();	
	    }		
	    })
    })
   
})

 

</script>